* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.headerBox {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 14px 0px 15px 0px;
}

.photoDiv {
    display: flex;
    align-items: center;
    gap: 14px;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.mist {
    color: var(--Primary, #343D33);
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.museum {
    color: var(--Gray-1, #333);
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
    visibility: visible;

}

a {
    text-decoration: none;
}

.paraghraps {
    color: var(--text-body-copy, #414840);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.home {
    color: var(--Primary, #475F45);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border: 2px solid var(--Primary, #475F45);
    color: var(--Primary, #475F45);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: none;
    cursor: pointer;

}


.adventureBox {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.adventureParaghraps {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 528px;
    width: 100%;
}

.adventure {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.beatiful {
    color: var(--Header-text, #343D33);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: capitalize;
}

.lorem {
    color: var(--text-body-copy, #414840);
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-transform: capitalize;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.buy {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background: var(--Primary, #475F45);
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}

.learn {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    color: var(--Primary, #475F45);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    background: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .navigation {
        display: none;
    }

    .menu {
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .adventureBox {
        flex-direction: column;
        gap: 56px;
        margin-top: 26px;
    }

    .adventureParaghraps,
    .adventure {
        align-items: center;
    }

    .lorem,
    .beatiful {
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navigation {
        display: none;
    }

    .adventureBox {
        flex-direction: column;
        gap: 71px;
    }

    .adventureParaghraps,
    .adventure {
        align-items: center;
    }

    .lorem,
    .beatiful {
        text-align: center;
    }

    .menu {
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerContainer {
        margin-top: 56px;
    }

}